.footer {
    margin-top: auto;
    border-top: 2px solid var(--border-color);
    padding: 22px 0;
}

.footer__wrapper {
    margin: 0 auto;
    max-width: 814px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.footer-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: var(--accent-color);
}

.footer-subtitle {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
}

.footer__left-side {
    max-width: 385px;
}

.footer-delimiter {
    height: 50px;
    width: 4px;
}

@media (max-width: 768px) {
    .footer {
        margin-top: auto;
        border-top: 2px solid var(--border-color);
        padding: 9px 0;
    }

    .footer-title {
        font-size: 18px;
        line-height: 25px;
    }

    .footer-subtitle {
        font-size: 14px;
        line-height: 18px;
    }
}

@media (max-width: 450px) {
    .footer {
        padding: 8px 0;
    }

    .footer-title {
        font-size: 14px;
        line-height: 22px;
    }
    .footer-subtitle {
        font-size: 10px;
        line-height: 12px;
    }
    
    .footer-delimiter {
        height: 60px;
        width: 4px;
    }
}

@media (max-width: 375px) {
        .footer {
        padding: 6px 0;
    }

    .footer-title {
        font-size: 12px;
        line-height: 20px;
    }
    .footer-subtitle {
        font-size: 8px;
        line-height: 10px;
    }
    
    .footer-delimiter {
        height: 50px;
        width: 4px;
    }
}